{% extends 'dashboard.html' %}

{% block content %}

    <div class="row justify-content-between">
        <div class="col col-md-8">
            <h2>Transacciones </h2>
        </div>
        <div class="col col-md-4">
            <a href="{% url 'registrarTransaccion' %}" class="btn btn-dark"> Registrar transacción</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Cliente</th>
                <th scope="col">Valor</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for transaccion in transacciones%}
            <tr>
                <th scope="row">{{ transaccion.id_transaccion }}</th>
                <td>{{ transaccion.cliente }}</td>
                <td>{{ transaccion.valor }}</td>
                <td>{{ transaccion.tipo }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}