<!DOCTYPE html>
<html lang="es">
	{% if user.is_authenticated %}
	{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="barra-lateral col-12 col-sm-auto">

				<div class="logo">
					<img src="{% static 'img/isotipo.png' %}" style="width: 80px; height: 80px; align-content: initial;">					
				</div>
				<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
					<a href="{% url 'dashboard' %}"><i class="material-icons">home</i><span>Inicio</span></a>
					<a href=""><i class="material-icons">assessment</i><span>Acciones</span></a>
					<a href="{% url 'listaCierres' %}"><i class="material-icons">event_note</i><span>Cierres</span></a>
					<a href="{% url 'listaClientes' %}"><i class="material-icons">person_outline</i><span>Clientes</span></a>
					<a href="{% url 'listaTransacciones' %}"><i class="material-icons">description</i><span>Transacciones</span></a>
					<a href="#"><i class="material-icons">settings</i><span>Configuracion</span></a>
					<a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i><span>Salir</span></a>
				</nav>
			</div>

			<main class="main col">
				<div class="row">
					<div class="col">
						<h2>Hola! {{ user.first_name }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="columna col-lg-7 widget nueva_entrada">
						{% block content %}
  
        				{% endblock %}
					</div>

					<div class="columna col-lg-5">
						<div class="widget estadisticas">
							<h3 class="titulo">Estadísticas</h3>
							<div class="contenedor d-flex flex-wrap">
								<div class="caja">
									<h3>15,236</h3>
									<p>Clientes</p>
								</div>
								<div class="caja">
									<h3>1,831</h3>
									<p>Transacciones</p>
								</div>
								<div class="caja">
									<h3>$160,548</h3>
									<p>Monto total</p>
								</div>
							</div>
						</div>

						<div class="widget comentarios">
							<h3 class="titulo">Acciones recientes</h3>
							<div class="contenedor">
								<div class="comentario d-flex flex-wrap">
									<div class="foto">
										<a href="#">
											<img src="img/persona1.jpg" width="100" alt="">
										</a>
									</div>
									<div class="texto">
										<a href="#">Jhon Doe</a>
										<p>en <a href="#">Mi primer entrada</a></p>
										<p class="texto-comentario">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis natus ex inventore provident modi id distinctio non minus, magni quia officiis, vel debitis doloremque ratione, consequuntur omnis hic voluptatem asperiores?
										</p>
									</div>
									<div class="botones d-flex justify-content-start flex-wrap w-100">
										<button class="aprobar"><i class="icono icon-ok"></i>Aprobar</button>
										<button class="eliminar"><i class="icono icon-cancel"></i>Eliminar</button>
										<button class="bloquear"><i class="icono icon-flag"></i>Bloquear Usuario</button>
									</div>
								</div>	

								<div class="comentario d-flex flex-wrap">
									<div class="foto">
										<a href="#">
											<img src="img/persona2.jpg" width="100" alt="">
										</a>
									</div>
									<div class="texto">
										<a href="#">Jhon Doe</a>
										<p>en <a href="#">Mi primer entrada</a></p>
										<p class="texto-comentario">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis natus ex inventore provident modi id distinctio non minus, magni quia officiis, vel debitis doloremque ratione, consequuntur omnis hic voluptatem asperiores?
										</p>
									</div>
									<div class="botones d-flex justify-content-start flex-wrap w-100">
										<button class="aprobar"><i class="icono icon-ok"></i>Aprobar</button>
										<button class="eliminar"><i class="icono icon-cancel"></i>Eliminar</button>
										<button class="bloquear"><i class="icono icon-flag"></i>Bloquear Usuario</button>
									</div>
								</div>

								<div class="comentario d-flex flex-wrap">
									<div class="foto">
										<a href="#">
											<img src="img/persona3.jpg" width="100" alt="">
										</a>
									</div>
									<div class="texto">
										<a href="#">Jhon Doe</a>
										<p>en <a href="#">Mi primer entrada</a></p>
										<p class="texto-comentario">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis natus ex inventore provident modi id distinctio non minus, magni quia officiis, vel debitis doloremque ratione, consequuntur omnis hic voluptatem asperiores?
										</p>
									</div>
									<div class="botones d-flex justify-content-start flex-wrap w-100">
										<button class="aprobar"><i class="icono icon-ok"></i>Aprobar</button>
										<button class="eliminar"><i class="icono icon-cancel"></i>Eliminar</button>
										<button class="bloquear"><i class="icono icon-flag"></i>Bloquear Usuario</button>
									</div>
								</div>				
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	
	<!-- Usar la CDN requiere acceso a Internet -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

	
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
{% endif %}
</html>